body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
  width: 350px;
}

.title {
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.add-btn {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background: white;
  border-radius: 8px;
  transition: 0.3s;
}

.task-item:hover {
  transform: scale(1.03);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}